<h1>Чат з <%= @receiver.username %></h1>

<div>
  <% @messages.each do |message| %>
    <div style="max-width: 400px; margin: 10px; padding: 10px; border: 1px solid black; border-radius: 5px;">
      <%= message.sender.username %>
      <%= message.created_at.strftime("%d.%m.%Y %H:%M") %>
      <div style="margin-top: 5px;">
        <%= message.body %>
      </div>
    </div>
  <% end %>
</div>

<%= form_with model: @new_message, url: chat_path(@receiver) do |f| %>
  <%= f.text_area :body, placeholder: "Напишіть своє повідомлення", required: true %>
  <%= f.submit "Надіслати" %>
<% end %>
