<h1>Вхід</h1>

<%= form_with url: login_path do |f| %>
  <div>
    <%= f.label :username, "Ім'я" %>
    <%= f.text_field :username, required: true %>
  </div>

  <div>
    <%= f.label :password, "Пароль" %>
    <%= f.password_field :password, required: true %>
  </div>

  <%= f.submit "Увійти" %>
<% end %>
