<h1>Вхід</h1>

<%= form_with url: login_path do |f| %>
  <% if flash[:alert] %>
    <div>
      <%= flash[:alert] %>
    </div>
  <% end %>

  <div style="margin-bottom: 15px;">
    <%= f.label :username, "Ім'я:" %>
    <%= f.text_field :username, required: true %>
  </div>

  <div style="margin-bottom: 15px;">
    <%= f.label :password, "Пароль:" %>
    <%= f.password_field :password, required: true %>
  </div>

  <%= f.submit "Увійти" %>
<% end %>
