<h1>Реєстрація</h1>

<%= form_with model: @user, url: signup_path do |f| %>
  <% if @user.errors.any? %>
    <div>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin-bottom: 15px;">
    <%= f.label :username, "Ім'я:" %>
    <%= f.text_field :username, required: true %>
  </div>

  <div style="margin-bottom: 15px;">
    <%= f.label :password, "Пароль:" %>
    <%= f.password_field :password, required: true %>
  </div>

  <div style="margin-bottom: 15px;">
    <%= f.label :password_confirmation, "Підтвердження паролю:" %>
    <%= f.password_field :password_confirmation, required: true %>
  </div>

  <%= f.submit "Зареєструватись" %>
<% end %>
