<h1>Стрічка</h1>

<%= form_with model: @post do |f| %>
  <%= f.text_area :content, placeholder: "Напишіть своє повідомлення", required: true %>
  <%= f.submit "Опублікувати" %>
<% end %>

<% @posts.each do |post| %>
  <div style="max-width: 400px; margin: 10px; padding: 10px; border: 1px solid black; border-radius: 5px;">
    <%= post.user.username %>
    <%= post.created_at.strftime("%d.%m.%Y %H:%M") %>
    <div style="margin-top: 5px;">
      <%= post.content %>
    </div>
  </div>
<% end %>
