<!DOCTYPE html>
<html lang="uk">
  <head>
    <title><%= content_for(:title) || "Mini Twitter" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Mini Twitter">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav style="display: flex; gap: 1rem">
      <%= link_to "Головна", root_path %>
      <% if logged_in? %>
        <%= link_to "Користувачі", users_path %>
        <%= current_user.username %>
        <%= button_to "Вийти", logout_path, method: :delete %>
      <% else %>
        <%= link_to "Увійти", login_path %>
        <%= link_to "Реєстрація", signup_path %>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
